/* Empty. Add your own CSS if you like */
.popover{

	background-color: #2e7d32 !important;
}

.card-box {

	margin: 2em !important;
}

.item-content {

	background-color:#387ef5 !important;
	color:whitesmoke !important;
	font-size:15px;
}